.card{
    text-align: center;

    max-width: min(500px, 75vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background: rgba(58, 81, 96, 0.8);
    border-radius: 3rem;

    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.2s, transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0.7rem 0.7rem rgba(0, 0, 0, 0.15);
}

.title{
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 720px){
  .title{
    font-size: large;
  }

  .card p{
    font-size: medium;
  }
}