.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main img{
    max-width: 25vh;
    border-radius: 1000rem;
}

.wrapper{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Text alterations*/

.title{
    text-shadow: 0.4rem 0.4rem var(--shadow);
    margin-bottom: 7vh;
}

.main h3{
    margin: 0;
}

.dynamicTxt{
    font-size: 3rem;
    color: var(--complementary);
}

.smallerText{
    font-size: 0.8rem;
}

.UCGS{
    color: var(--ucgs-amber);
    display: inline-block; /* Needed so translation works */
    transition: transform 0.2s ease;
}

.UCGS:hover{
    transform: translateY(-5px);
}

.CSDpt{
    color: var(--light-blue-accent);
    display: inline-block;
    transition: transform 0.2s ease;
}

.CSDpt:hover{
    transform: translateY(-5px);
}

/* Card preferences */
.cardHolder{
    margin-top: 10vh;
    height: max(80vh, fit-content);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    width: 100vw;
}

/*Footer*/

.Footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: var(--darker-background-colour);
}

.Footer p{
    margin: 0;
}

@media (max-width: 500px){
    .logo{
        width: 200px
    }

    .wrapper{
        justify-content: start;
    }

    .cardHolder{
        padding-bottom: 200px;
    }
}