.main{
    width: 100vw;
    position: fixed;
    top: 0;
    text-shadow: 0.2rem 0.2rem var(--shadow);
    background-color: var(--background-colour);
    /*background: linear-gradient(var(--background-colour) 20%, var(--darker-background-colour));*/
    /*background-color: red;*/
}

.main img{
    max-width: 150px;
    border-radius: 5rem;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main h3{
    font-size: large;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stack{
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: large;
}

.main a{
    color: white;
}

.element{
    transition: font-size 0.2s;
}

.element:hover{
    font-size: x-large;
}

.ProblemsTxt{
    font-size: larger;
    color: var(--complementary);
}

@media (max-width: 500px){
    .main h3{
        visibility: hidden;
    }

    .main{
        justify-content: center;
    }
}