.main{
    width: 100vw;
    position: fixed;
    top: 0;
    /*background-color: red;*/
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main h3{
    font-size: large;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.stack{
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    font-size: large;
}

.main a{
    color: white;
}

@media (max-width: 500px){
    .Banner{
        visibility: hidden;
    }
}